services: 
  watchtower:
    image: containrrr/watchtower 
    command: 
      - "--label-enable"
      - "--interval"
      - "30"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
  reverse-proxy:
    image: traefik:v3.2
    command:
      - "--api.insecure=true"
      - "--providers.docker"
      - "--providers.docker.exposedbydefault=false"
      - "--entryPoints.websecure.address=:443"
      - "--certificatesResolvers.resolver.acme.tlschallenge=true"
      - "--certificatesResolvers.resolver.acme.email=bigspaceships@gmail.com"
      - "--certificatesResolvers.resolver.acme.storage=/letsencrypt/acme.json"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.web.http.redirections.entrypoint.to=websecure"
      - "--entrypoints.web.http.redirections.entrypoint.scheme=https"
      - "--entryPoints.web.observability.accessLogs=true"
      - "--entryPoints.web.observability.metrics=true"
      - "--entryPoints.web.observability.tracing=true"
    ports:
      - "80:80"
      - "443:443"
      - "8080:8080"
    volumes:
      - letsencrypt:/letsencrypt
      - /var/run/docker.sock:/var/run/docker.sock
  signaling:
    image: ghcr.io/bigspaceships/signaling:latest
    environment: 
      MAIN_SERVER: "TRUE"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.signaling.rule=Host(`signaling.noahhanford.com`)"
      - "traefik.http.routers.signaling.entrypoints=websecure"
      - "traefik.http.routers.signaling.tls.certresolver=resolver"
      - "com.centurylinklabs.watchtower.enable=true"
    deploy:
      mode: replicated
      replicas: 0
  website:
    image: ghcr.io/bigspaceships/website:latest
    labels: 
      - "traefik.enable=true"
      - "traefik.http.routers.website.rule=Host(`noahhanford.com`)"
      - "traefik.http.routers.website.entrypoints=websecure"
      - "traefik.http.routers.website.tls.certresolver=resolver"
      - "com.centurylinklabs.watchtower.enable=true"
  macos:
    image: dockurr/macos
    environment:
      VERSION: "13"
      KVM: "N"
    devices:
      - "/dev/kvm:/dev/kvm"
      - "/dev/net/tun:/dev/net/tun"
    cap_add:
      - NET_ADMIN
    ports:
      - 8006:8006/tcp
      - 5900:5900/tcp
      - 5900:5900/udp
    volumes:
      - /home/nowah/macos:/storage
    restart: always
    stop_grace_period: 2m
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.mac.service=mac"
      - "traefik.http.routers.mac.rule=Host(`macos.noahhanford.com`)"
      - "com.centurylinklabs.watchtower.enable=true"
      - "traefik.http.servers.mac.loadbalancer.service.port=8006"
      - "traefik.http.routers.my-router.observability.metrics=true"
      - "traefik.http.routers.my-router.observability.accessLogs=true"
      - "traefik.http.routers.my-router.observability.tracing=true"
      - "traefik.http.routers.my-router.observability.traceVerbosity=detailed"
volumes:
  letsencrypt:
